@import "./inventary.scss";
@import "./login.scss";
@import "./home/playerBars.scss";
@import "./home/index.scss";
@import "./styleGuide.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

input[type="text"],
input[type="password"] {
  cursor: text;
}

html,
body,
#root {
  background-color: $ocean-dark;
  width: 100%;
  height: fit-content;
}

button.send,
input[type="submit"] {
  background-color: $danger;
  color: #f5f6fa;
  font-weight: 900;
  padding: 5px 15px 5px 15px;
  border: 2px solid $danger-dark;
  border-radius: 4px;
  outline: none;
  text-shadow: #000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

h3,
span {
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: $success-dark;
  text-shadow: #000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-1 {
  margin-right: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.mr-3 {
  margin-right: 1em;
}

.mr-4 {
  margin-right: 1.25em;
}

.mr-5 {
  margin-right: 1.5em;
}

.ml-1 {
  margin-left: 0.25em;
}

.ml-2 {
  margin-left: 0.5em;
}

.ml-3 {
  margin-left: 1em;
}

.ml-4 {
  margin-left: 1.25em;
}

.ml-5 {
  margin-left: 1.5em;
}

.mt-1 {
  margin-top: 0.25em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mt-3 {
  margin-top: 1em;
}

.mt-4 {
  margin-top: 1.25em;
}

.mt-5 {
  margin-top: 1.5em;
}

.mb-1 {
  margin-bottom: 0.25em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.mb-3 {
  margin-bottom: 1em;
}

.mb-4 {
  margin-bottom: 1.25em;
}

.mb-5 {
  margin-bottom: 1.5em;
}

.p-1 {
  padding: 0.25em;
}

.p-2 {
  padding: 0.5em;
}

.p-3 {
  padding: 1em;
}

.p-4 {
  padding: 1.25em;
}

.p-5 {
  padding: 1.5em;
}

.pt-1 {
  padding-top: 0.25em;
}

.pt-2 {
  padding-top: 0.5em;
}

.pt-3 {
  padding-top: 1em;
}

.pt-4 {
  padding-top: 1.25em;
}

.pt-5 {
  padding-top: 1.5em;
}

.pr-1 {
  padding-right: 0.25em;
}

.pr-2 {
  padding-right: 0.5em;
}

.pr-3 {
  padding-right: 1em;
}

.pr-4 {
  padding-right: 1.25em;
}

.pr-5 {
  padding-right: 1.5em;
}

.pb-1 {
  padding-bottom: 0.25em;
}

.pb-2 {
  padding-bottom: 0.5em;
}

.pb-3 {
  padding-bottom: 1em;
}

.pb-4 {
  padding-bottom: 1.25em;
}

.pb-5 {
  padding-bottom: 1.5em;
}

.pl-1 {
  padding-left: 0.25em;
}

.pl-2 {
  padding-left: 0.5em;
}

.pl-3 {
  padding-left: 1em;
}

.pl-4 {
  padding-left: 1.25em;
}

.pl-5 {
  padding-left: 1.5em;
}

.text-white {
  color: $white-dark;
}

.text-success {
  color: $success-dark;
}

.text-warning {
  color: $golden-dark;
}

.text-danger {
  color: $danger-dark;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20;
}

.font-26 {
  font-size: 26px;
}

.bg-success {
  background-color: $success;
}

.bg-success-dark {
  background-color: $success-dark;
}

.bg-black {
  background-color: $black;
}

.bg-black-dark {
  background-color: $black-dark;
}

.bg-white {
  background-color: $white;
}

.bg-white-dark {
  background-color: $white-dark;
}

.bg-grey {
  background-color: $grey;
}

.bg-grey-dark {
  background-color: $grey-dark;
}

.bg-ocean {
  background-color: $ocean;
}

.bg-ocean-dark {
  background-color: $ocean-dark;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pin-t {
  top: 0;
}

.pin-r {
  right: 0;
}

.pin-b {
  bottom: 0;
}

.pin-l {
  left: 0;
}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
