@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$white: #f5f6fa;
$white-dark: #dcdde1;
$grey: #7f8fa6;
$grey-dark: #718093;
$success: #4cd137;
$success-dark: #44bd32;
$sky: #00a8ff;
$sky-dark: #0097e6;
$ocean: #273c75;
$ocean-dark: #192a56;
$purple: #9c88ff;
$purple-dark: #8c7ae6;
$danger: #e84118;
$danger-dark: #c23616;
$golden: #fbc531;
$golden-dark: #e1b12c;
$black: #353b48;
$black-dark: #2f3640;
$font-montserrat: "Montserrat", sans-serif;
